<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('register_1_m')%></h1>
    <p>
      <%= t('register_2_m') + @user.username %>.<br>
    </p>
    <p>
       <%= t('register_3_m') 
        link_to 'activation', "'brain-portal.com/user/token?code='+@user->activation_token" %>.
    </p>
    <p><%= t('register_4_m')%></p>
  </body>
</html>