 *= require jquery-ui





		body {
		 
		}
		/* Clearing floats */
		.cf:before,
		.cf:after {
		    content: " ";
		    display: table;
		}

		.cf:after {
		    clear: both;
		}

		.cf {
		    *zoom: 1;
		}

		/* Mini reset, no margins, paddings or bullets */
		.menu,
		.submenu {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		/* Main level */
		.menu {			
			margin: 20px auto;
			width: 1000px;
			/* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;	
		}

		.menu > li {
			background: #9edb46;
			color:;
			float: left;
			position: relative;

			-webkit-transform: skewX(25deg);
		}

		.menu a {
			display: block;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-family: Arial, Helvetica;
			font-size: 14px;
		}		

		.menu li:hover {
			background: #e74c3c;
		}		

		.menu > li > a {
			-webkit-transform: skewX(-25deg);
			padding: 1em 2em;
			font-size: 15px;
		}

		/* Dropdown */
		.submenu {
			position: absolute;
			width: 200px;
			left: 50%; margin-left: -100px;
			-webkit-transform: skewX(-25deg);
			-webkit-transform-origin: left top;
		}

		.submenu li {
			background-color: #bbe979;
			position: relative;
			overflow: hidden;

		}						

		.submenu > li > a {
			padding: 1em 2em;
			
			color: #fff;			
		}

		.submenu > li::after {
			content: '';
			position: absolute;
			top: -125%;
			height: 100%;
			width: 100%;			
			box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
		}		

		/* Odd stuff */
		.submenu > li:nth-child(odd){
			-webkit-transform: skewX(-25deg) translateX(0);
		}

		.submenu > li:nth-child(odd) > a {
			-webkit-transform: skewX(25deg);
		}

		.submenu > li:nth-child(odd)::after {
			right: -50%;
			-webkit-transform: skewX(-25deg) rotate(3deg);
		}				

		/* Even stuff */
		.submenu > li:nth-child(even){
			-webkit-transform: skewX(25deg) translateX(0);
		}

		.submenu > li:nth-child(even) > a {
			-webkit-transform: skewX(-25deg);
		}

		.submenu > li:nth-child(even)::after {
			left: -50%;
			-webkit-transform: skewX(25deg) rotate(3deg);
		}

		/* Show dropdown */
		.submenu,
		.submenu li {
			opacity: 0;
			visibility: hidden;			
		}

		.submenu li {
			transition: .2s ease -webkit-transform;
		}

		.menu > li:hover .submenu,
		.menu > li:hover .submenu li {
			opacity: 1;
			visibility: visible;
		}		

		.menu > li:hover .submenu li:nth-child(even){
			-webkit-transform: skewX(25deg) translateX(15px);			
		}

		.menu > li:hover .submenu li:nth-child(odd){
			-webkit-transform: skewX(-25deg) translateX(-15px);			
		}

        /* Demo only */
        #about {
            margin: 50px 0 0 0;
            color: #444;
            font-family: Arial, Helvetica;
            text-align: center;
        }
        
        #about a {
            color: #777;
        }	

		/* Таблиці*/

		.tables{
			margin: 20px auto;
			width: 1000px;

		}

		.bordered {
		    border: solid #ccc 1px;
		    border-radius: 5px;
		    box-shadow: 0 1px 1px #ccc;         
		}
		 
		.bordered td, .bordered th {
		    border-left: 1px solid #ccc;
		    border-top: 1px solid #ccc;
		    padding: 10px;
		    padding-left: 15px;
		    text-align: left;    
		}
		 
		.bordered th {
		    background-color: #9edb46; 
		    font-size: 19px;       
		    border-top: none;
		    padding: 15px;
		    color: #fff;
		    
		}
		 
		.bordered td:first-child, .bordered th:first-child {
		    border-left: none;
		}
		 
		.bordered th:first-child {

		    border-radius: 6px 0 0 0;
		    background: #e74c3c; 
		}
		 
		.bordered th:last-child {

		    border-radius: 0 6px 0 0;
		}
		 
		.bordered tr:last-child td:first-child {

		    border-radius: 0 0 0 6px;
		}
		 
		.bordered tr:last-child td:last-child {

		    border-radius: 0 0 6px 0;
		}
		.bordered td:first-child {

		    background: #e8d9d9; 
		}

		.bordered td:last-child {
			
		    background: #dbe0d3; 
		}
		/* new */
		footer{
			margin: 20px auto;
			width: 1045px;
			height: 45px;
			font-family: Arial, Helvetica;

			background: #9edb46;
			float: center;
			position: relative;
			-webkit-transform: skewX(-25deg);
		}

		.footer_text{
			font-size: 10px;
			color: #FFF;
			-webkit-transform: skewX(25deg);
			text-align: center;
			padding-top: 12px;

		}
		.yield{
			background: #FFF;
			width: 1000px ;
			margin: 0px auto;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			padding: 10px;
		}

		a{
			text-decoration: none;
			color: #34659e;
		}
		a:hover{
			color: #164d64;
		}
		h1{
			font-size: 25px;
			color: #34659e
		}

		.button{
			height: 30px;
			width: 190px;
			display: block;
			border-bottom: 1px solid #9edb46;
			border-radius: 5px;
			margin-right: 45px;
			margin-top: 10px;
			background: #9edb46;
			text-align: center;
			line-height: 30px;
			font-size: 17px;
			border-style: none;
		}
		.button:hover{
			display: block;
			background: #cbe7a2;
			font-size: 20px;
		}
		.button:active{
			border: 1px solid #9edb46
		}