@import url("message.css");
@import url("user.css");
@import url("session.css");
.application h1 {
	font-size: 29px;
	text-align: left;
}
.application a {
	text-decoration: none;
	color: #a29;
	display: block;
}

